*.ub filter=lfs diff=lfs merge=lfs -text
setup/hw/* filter=lfs diff=lfs merge=lfs -text
backend/app/static/**/* filter=lfs diff=lfs merge=lfs -text
*.png
ansible/roles/update_fw/files/hw/image.ub filter=lfs diff=lfs merge=lfs -text
